{% include 'incl/header.twig' %}

<body>
    <div class="centering">
        <div class="restraint">
            {% include 'incl/nav.twig' %}

            <div class="main" role="main">
                {{ content }}
            </div>
            
            {% include 'incl/footer.twig' %}
        </div>
    </div>
</body>

</html>
