$border-color: rgb(30, 30, 30);
$border-contrast: rgb(200, 200, 200);
$background-color: rgb(40, 40, 40);
$background-lighter: rgb(50, 50, 50);
$background-darker: rgb(30, 30, 30);
$color: rgb(225, 225, 225);
$link-color: #ffc0cb;
$link-visited: #dda0dd;
$gradient-one: rgb(100, 100, 100);
$gradient-two: rgb(40, 40, 40);
$gallery-border: rgb(80, 80, 80);
