$border-color: rgb(200, 200, 200);
$border-contrast: rgb(10, 10, 10);
$background-color: rgb(230, 230, 230);
$background-lighter: rgb(240, 240, 240);
$background-darker: rgb(220, 220, 220);
$color: rgb(20, 20, 20);
$link-color: rgb(55, 55, 200);
$link-visited: rgb(30, 30, 180);
$gradient-one: rgb(200, 200, 200);
$gradient-two: rgb(140, 140, 140);
