.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1281px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 769px) and (max-width: 1280px) {
        padding-left: 20px;
        padding-right: 30px;
    }
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.title {
    padding: 3rem;

    @media screen and (max-width: 768px) {
        padding-top: 1em;
        padding-bottom: 0;
    }

    * {
        color: rgb(225, 225, 225);
    }

    p {
        font-style: italic;
    }
}
