* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

@import '../../node_modules/normalize.css/normalize';
@import 'fonts.css';
@import 'nav_style.css';
@import 'footer.css';
@import 'tags.css';
@import 'general.css';
@import 'mobile_menu.css';
@import 'technologies.css';
@import 'technology.css';
